<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Originally from Switzerland, I graduated from
      <a class="underline-link" href="https://www.epfl.ch/" target="_blank">EPFL</a> with a MSc in 
      <a class="underline-link" href="https://www.epfl.ch/education/master/programs/data-science/" target="_blank">Data Science</a> and
      <a class="underline-link" href="https://www.epfl.ch/education/master/programs/life-sciences-engineering/" target="_blank">Life Sciences Engineering</a>.
      Along the way, I have developed a deep interest for computational sciences, in particular for data-related applications.
    </p>

    <p>
      I am currently working in a world leader in digital security and IoT company. 
      My role is to enable data solutions and provide the business with accurate and 
      valid data at the right time. I believe my engineering studies and previous work experiences provided 
      me with solid knowledge and strong problem solving skills which I enthusiastically put into practice in 
      my daily work life.
    </p>

    <p>
      In my free-time, you can find me on the road or in the moutains, climbing a few kilometres of ascent, as a  
      <a class="underline-link" href="https://utmb.world/fr/runner/4663488.gianni.giusto" target="_blank">trail runner</a> passionate about natural landscapes.
      <!-- <img class="emoji" src="{{site.baseurl}}/img/emojis/mountain.png" alt="emoji"> -->
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
