<section class="section skills">
    <div class="section__title">Relevant Courses</div>
    <div class="section__content">
      <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
      <div class="skillz">
        <div class="skillz__category">
          <div class="skillz__category__label">Programming & Data </div>
          <ul>
            {% for dc in site.data.courses.data %}
            <li class="skillz__category__item">{{dc.item}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="skillz__category">
          <div class="skillz__category__label">Statistics & ML</div>
          <ul>
            {% for ml in site.data.courses.ml %}
            <li class="skillz__category__item">{{ml.item}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  